

@import 'variables';
@import 'default';
@import 'diff';
@import 'readme';

/* 
 * TODO 
 * blame view
 * code samples in readme
 * fix 'px' syntax highlighting on css files
 * check support for langues other than html/css/js
 * change html tag colors
*/
